[user]
    name = Jon Zudell
    email = jonathon.zudell@gmail.com
[alias]
    # list branches ordered by change time
    branch-ls = "!git for-each-ref --format='%(committerdate:short),%(authorname),%(refname:short)' --sort=committerdate refs/heads/ | column -t -s ','"
    # Show minimal diffs instead of whole lines changed and highlight trailing whitespace in diffs
    min-diff = diff --color-words=. --ws-error-highlight=new,old
    min-diff-staged = diff --staged --ws-error-highlight=new,old
    # Find a string but omit strings with lendth over 400 chars
    find = "!f() { str=${@}; echo $str; git grep -E -e$str --and --not -e '.{400}'; }; f"
    log-graph = log --oneline --graph --decorate
[color]
    ui = auto
[core]
    excludesfile = ~/.gitignore_global
    pager = less -R
[merge]
    conflictstyle = diff3
    # Setup your merge tool here. This will allow you to see visual diffs with `git mergetool` or `git difftool`
    tool = meld
